@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .vis-lg {
    display: none;
  }

  .vis-sm {
    display: inline-flex;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    border-radius: var(--primary-radius);
    color: var(--secondary-color);
  }

  .nav-container {
    font-size: 10px;
    max-width: 85vw;
    border: 1px solid peru;
  }

  .container {
    max-width: 80vw;
  }

  .name {
    font-size: 20px;
  }

  .title {
    font-size: 20px;
    color: var(--grays);
    font-family: var(--secondary-font);
  }

  .about {
    max-width: 600px;
    margin-top: 15px;
    color: var(--grays);
    font-family: var(--secondary-font);
    font-size: var(--font-size-sm);
  }

  .cards {
    flex-flow: column wrap;
  }

  .card {
    max-width: 100%;
  }

  aside {
    display: none;
    position: fixed;
    right: 0;
    width: 75vw;
    height: 100vh;
    background-color: var(--secondary-color);
  }

  #nav-side-menu a,
  #nav-side-menu a:active,
  #nav-side-menu a:visited {
    color: var(--white);
    text-decoration: none;
  }

  #nav-side-menu a:hover {
    color: var(--off-color);
    text-decoration: underline;
  }

  .nav-side-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 18px;
  }

  .vm {
    margin-top: 20px;
  }

  .vm button {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid var(--white);
    background-color: var(--secondary-color);
    color: var(--white);
    border-radius: var(--secondary-radius);
  }

  .menu-items {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}
